<form>
    <form [formGroup]="profileForm">
       
         <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName"><br>
      
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName"><br>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"></form>
        <p>Complete the form to enable button.</p>
        <div formGroupName="address">
            <h2>Address</h2>
          
            <label for="street">Street: </label>
            <input id="street" type="text" formControlName="street"><br>
          
            <label for="city">City: </label>
            <input id="city" type="text" formControlName="city"><br>
          
            <label for="state">State: </label>
            <input id="state" type="text" formControlName="state"><br>
          
            <label for="zip">Zip Code: </label>
            <input id="zip" type="text" formControlName="zip"><br>
            <label for="email">Email: </label>
            <input id="email"
            type="text" class="form-control" formControlName="email">
    
         
          <label for="file">Upload File: </label>
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"></form>
          <input type="file" class="file-upload" onchange="console.log(event.target.files)">
          
        </div>
        <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
      
      </form>