<body><p><b>Build your Career</b></p>
<P>Working at HCC is not merely about filling a position, but rather a philosophy of discovering your 
    true mettle, seeking out new challenges and enjoying the thrill of overcoming them.

    HCC has constructed a culture that encourages people to venture beyond the brief and to think big. 
    Our workplaces and project sites are the most sought-after training grounds for young engineers. 
    
    If you are excited by an environment that nurtures talent and exposes you to the latest in 
    construction technology, then come and be a part of Team HCC.</P>
    <a routerLink="/graduation" routerLinkActive="active"  
    href="/graduation" class>Graduation</a>
    ||
    <a routerLink="/professional" routerLinkActive="active"  
    href="/professional" class>Professional </a>
</body>

<p>professional works!</p>
<form>
<!-- <form [formGroup]="profileForm">
    <input type="text" id="name" name="name" class="form-control"
      required minlength="4" appForbiddenName="bob">
      [(ngModel)]="name" #name="ngModel"> -->
   




    <!-- <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName"><br>
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName"><br>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"></form>
    <p>Complete the form to enable button.</p>
    <div formGroupName="address">
        <h2>Address</h2>
      
        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street"><br>
      
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city"><br>
      
        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state"><br>
      
        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip"><br>
        <label for="email">Email: </label>
        <input id="email"
        type="text" class="form-control" formControlName="email">

     
      <label for="file">Upload File: </label>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"></form>
      <input type="file" class="file-upload" onchange="console.log(event.target.files)" accept="pdf">
      
    </div>
    <p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!profileForm.valid">Submit</button>
  
  </form> -->

  <!-- profileForm = this.fb.group({
    firstName: ['', Validators.name],
    lastName: ['', Validators.name],
    address: this.fb.group({
     street: [''],
      city: [''],
      state: [''],
      zip: [''],
      email:['',Validators.email]
    
    }),
  });

  onSubmit() {
    // TODO: Use EventEmitter with form value
    console.warn(this.profileForm.value);
  }
  constructor(private fb: FormBuilder) { } -->